@charset "utf-8";

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%; /* Avoiding vh because it's not best supported by some mobile browsers */
}

html {
  font-family: Roboto;
  line-height: 1.5;
  font-size: 10px;

  @media only screen and (min-width: $breakpoint-md) {
      font-size: 12px;
  }
  
  @media only screen and (min-width: $breakpoint-lg) {
      font-size: 14px;
  }
}


body * {
  font-family: Roboto;
  font-size: 1rem;
}

html *,
html *::after,
html *::before {
  box-sizing: border-box;
  user-select: none;
}
