.container {
  display: flex;
  flex-direction: column;
  color: var(--color-light-md);

  label {
    font-size: var(--font-size-sm);
    color: var(--color-primary);
    margin: var(--spacing-sm) 0;
  }

  input {
    font-size: var(--font-size-md);
    padding: var(--spacing-sm);
    color: var(--color-light-md);
    background-color: var(--color-dark-md);
    appearance: none;
    outline: none;
    border: none;
  }
}
